<h1>Hola Mundo</h1>
<p>La p치gina de a침adir</p>
<h2>A침adir productos</h2>
<u1>
		<form action="/insert" method="post">
       <label for="name">Nombre</label>
         <input type="text" name="name" id="name" placeholder="name" required>
        <label for="desc">Descripci칩n</label>
         <input type="text" name="description" id="description" placeholder="Description" required>
		<label for="price">Precio</label>
         <input type="number" name="price" id="price" placeholder="price" required>
         <input type ="submit" value="Add">
        </form>
</ul>